* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.main {
    height: 800px;
    background: url(img/slider-img.jpg) no-repeat center center;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 63px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu_list {
    list-style-type: none;
}

.menu_link {
    font-size: 14px;
    color: #8c8c8c;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu_link:hover {
    color: #212121;
}

.menu_link_active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.main_content {
    margin-top: 283px;
}

.main_trending {
    font-size: 18px;
    color: #43a047;
    font-weight: 700;
    text-transform: uppercase;
}

.main_h2 {
    font-size: 62px;
    color: #212121;
    font-weight: 100;
    text-transform: uppercase;
}

.main_text {
    width: 458px;
    font-size: 14px;
    color: rgb(108, 108, 108);
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.main_button, .explore_button {
    font-size: 18px;
    color: #212121;
    font-weight: 700;
    text-transform: uppercase;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.main_button {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
}

.main_pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.main_circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.main_circle_active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.main_circle:hover {
    background-color: #212121;
}

/* Стили страницы 3 */
.page3 {
    height: 683px;
}

.page3_left, .page3_right {
    width: 683px;
    height: 683px;
    padding-left: 50px;
    padding-top: 227px;
    box-sizing: border-box;
}

.page3_left_content .main_text,
.page3_right_content, .main_text {
    width: 400px;
}

.page3_left {
    background: url(img/promo-img1.jpg) no-repeat;
}

.page3_right {
    background: url(img/promo-img.jpg) no-repeat;
}

.page3 .container {
    width: 1366px;
    display: flex;
}

/* Стили страницы 4 (Trending products) */
.page4 {
    height: 1108px;
}

.page4_title {
    padding-top: 120px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.title_h1 {
    font-size: 36px;
    color: #212121;
    font-weight: bold;
}

.page4_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page4_product {
    margin-bottom: 30px;
}

/* Стили страницы 5 (Hot deals) */
.page5 {
    height: 800px;
    background: url(img/slider.jpg) no-repeat center center;
    position: relative;
}

.page5_content .main_trending {
    color: red;
}

.page5_content {
    padding-top: 286px;
}

/* Стили страницы 6 */
.page6 {
    height: 810px;
}

.page6_content {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.imgs_right {
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgs_right_line1, .imgs_right_line2 {
    width: 570px;
    display: flex;
    justify-content: space-between;
}

.img_left {
    background: url(img/product-1-lg.jpg) no-repeat;
    width: 570px;
    height: 570px;
    padding-left: 30px;
    padding-top: 185px;
    box-sizing: border-box;
}

.img_left .main_text {
    width: 340px;
}

.img_left_content .main_trending,
.page3_left .main_trending,
.page3_right .main_trending
{
    color: #1e88e5;
}

.img_left_content .main_h2,
.page3_left .main_h2,
.page3_right .main_h2
{
    font-weight: bold;
    font-size: 36px;
    text-transform: capitalize;
}

/* Стили страницы 7 */
.page7 {
    height: 516px;
    background: url(img/back-img.jpg) no-repeat center center;
}

.page7_content .main_trending {
    color:rgb(108, 108, 108);
}

.page7_content .main_h2 {
    width: 500px;
}

.page7_content .main_text {
    font-size: 22px;
    width: 800px;
    margin-top: 20px;
}

.page7 .container {
    padding-top: 124px;
}

.page7_links {
    margin-top: 36px;
    width: 280px;
    display: flex;
    justify-content: space-between;
}