* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
}

.title_h1, .page2_menu {
    font-size: 36px;
    color: #212121;
    font-weight: bold;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.main {
    height: 800px;
    background: url(img/slider-img.jpg) no-repeat center center;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 63px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu_list {
    list-style-type: none;
}

.menu_link {
    font-size: 14px;
    color: #8c8c8c;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu_link:hover {
    color: #212121;
}

.menu_link:active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.menu_link_active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.main_content {
    margin-top: 283px;
}

.main_trending {
    font-size: 18px;
    color: #43a047;
    font-weight: 700;
    text-transform: uppercase;
}

.main_h2 {
    font-size: 62px;
    color: #212121;
    font-weight: 100;
    text-transform: uppercase;
}

.main_text {
    width: 458px;
    font-size: 14px;
    color: rgb(108, 108, 108);
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.main_button, .explore_button {
    font-size: 18px;
    color: #212121;
    font-weight: 700;
    text-transform: uppercase;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.main_button {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
}

.main_button:hover {
    box-shadow: 0px 2px 8px 0.15px rgba(33, 33, 33, 0.7);
}

.main_button:active {
    background-color: #eeeeee;
}

.explore_button:hover {
    background-color: #eeeeee;
    border-radius: 10px;
}

.explore_button:active {
    background-color: #c7c7c7;
    border-radius: 10px;
}

.main_pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.main_circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.main_circle_active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.main_circle:hover {
    background-color: #212121;
}

/* Стили страницы 2 (Featured) */
.page2 {
    height: 609px;
}

.page2_title {
    padding-top: 120px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.page2_link {
    color: rgb(108, 108, 108);
    text-decoration: none;
    border-bottom: 1px solid rgb(108, 108, 108);
    padding: 12px 20px
}

.page2_link:hover {
    color: #212121;
}

.page2_link:active {
    color: #212121;
    border-bottom: 3px solid #212121;
    padding: 10px 20px
}

.page2_link_active {
    color: #212121;
    border-bottom: 3px solid #212121;
    padding: 10px 20px
}

.page2_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page2_product {
    position: relative;
}

.page2_product_img {
    display: block;
    width: 100%;
}

.page2_product_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page2_product_overlay:hover {
    opacity: 1;
}

.overlay_button {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay_button:hover {
    box-shadow: 0px 2px 8px 0.15px rgba(33, 33, 33, 0.7);
}

.overlay_button:active {
    background-color: #eeeeee;
}

.overlay_title {
    font-size: 22px;
    color: #212121;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 14px;
}

.overlay_text {
    font-size: 14px;
    color: rgb(108, 108, 108);
    line-height: 21px;
    width: 215px;
    display: inline-block;
}

/* Стили страницы 3 */
.page3 {
    height: 683px;
}

.page3_left, .page3_right {
    width: 683px;
    height: 683px;
    padding-left: 50px;
    padding-top: 227px;
    box-sizing: border-box;
}

.page3_left_content .main_text,
.page3_right_content, .main_text {
    width: 400px;
}

.page3_left {
    background: url(img/promo-img1.jpg) no-repeat;
}

.page3_right {
    background: url(img/promo-img.jpg) no-repeat;
}

.page3 .container {
    width: 1366px;
    display: flex;
}

/* Стили страницы 4 (Trending products) */
.page4 {
    height: 1108px;
}

.page4_title {
    padding-top: 120px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.page4_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page4_product {
    margin-bottom: 30px;
}

/* Стили страницы 5 (Hot deals) */
.page5 {
    height: 800px;
    background: url(img/slider.jpg) no-repeat center center;
    position: relative;
}

.page5_content .main_trending {
    color: red;
}

.page5_content {
    padding-top: 286px;
}

/* Стили страницы 6 */
.page6 {
    height: 810px;
}

.page6_content {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.imgs_right {
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgs_right_line1, .imgs_right_line2 {
    width: 570px;
    display: flex;
    justify-content: space-between;
}

.img_left {
    background: url(img/product-1-lg.jpg) no-repeat;
    width: 570px;
    height: 570px;
    padding-left: 30px;
    padding-top: 185px;
    box-sizing: border-box;
}

.img_left .main_text {
    width: 340px;
}

.img_left_content .main_trending,
.page3_left .main_trending,
.page3_right .main_trending
{
    color: #1e88e5;
}

.img_left_content .main_h2,
.page3_left .main_h2,
.page3_right .main_h2
{
    font-weight: bold;
    font-size: 36px;
    text-transform: capitalize;
}

/* Стили страницы 7 */
.page7 {
    height: 516px;
    background: url(img/back-img.jpg) no-repeat center center;
}

.page7_content .main_trending {
    color:rgb(108, 108, 108);
}

.page7_content .main_h2 {
    width: 500px;
}

.page7_content .main_text {
    font-size: 22px;
    width: 800px;
    margin-top: 20px;
}

.page7 .container {
    padding-top: 124px;
}

.page7_links {
    margin-top: 36px;
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.page7_link {
    width: 135px;
    height: 39px;
    display: inline-block;
    border-radius: 15px;
}

.page7_link:hover {
    box-shadow: 0px 2px 8px 0.15px rgba(33, 33, 33, 0.7);
}

/* Стили подвала */
.footer {
    height: 384px;
    width: 1366px;
    background-color: #f7f7f7;
    margin: 0 auto;
}

.footer .main_trending {
    color: rgb(108, 108, 108);
}

.footer_info {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    box-sizing: border-box;
}

.footer_contact {
    width: 270px;
}

.footer_contact_text {
    margin-top: 20px;
}

.footer_contact_text p:first-child {
    width: 250px;
}

.footer_contact_text .main_text,
.stay .main_text
{
    color: #212121;
}

.info_text {
    width: 470px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.info_text_c1 a, .info_text_c2 a {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 16px;
    text-decoration: none;
}

.info_text_c1 ul, .info_text_c2 ul {
    list-style-type: none;
}

.info_text_c1 li, .info_text_c2 li {
    margin-bottom: 16px;
}

.info_text_c1 li:hover, .info_text_c2 li:hover {
    text-decoration: underline;
}

.info_text_c1, .info_text_c2 {
    width: 235px;
}

.stay {
    width: 370px;
}

.stay .footer_text {
    margin-top: 20px;
}

.input {
    width: 370px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d9dee1;
    background-color: white;
    padding-left: 20px;
    padding-right: 14px;
    margin-top: 24px;
}

.input img {
    width: 21px;
    height: 17px;
}

.input .main_text {
    color: rgb(108, 108, 108);
}

.footer_bottom {
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.footer_bottom .main_trending {
    font-size: 12px;
}

.socials {
    width: 132px;
    display: flex;
    justify-content: space-between;
}

.contacts_top {
    width: 1366px;
    height: 360px;
    margin: 0 auto;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.contacts_top .main_h2 {
    text-transform: capitalize;
    margin-top: 168px;
}

.contacts_main {
    height: 563px;
}

.contacts_cards {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    padding-top: 71px;
    box-sizing: border-box;
}

.contacts_card {
    width: 370px;
    height: 370px;
    outline: 1px solid rgb(166, 166, 166);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    box-sizing: border-box;
}

.contacts_card .contacts_title {
    font-family: Montserrat;
    font-size: 21px;
    color: #212121;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 16px;
}

.contacts_card:hover {
    box-shadow: 0px 2px 8px 0.15px rgba(33, 33, 33, 0.2);
}

.contacts_phone, .contacts_email, .contacts_adress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts_subtitle, .contacts_text {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    color: rgb(108, 108, 108);
}

.contacts_phone, .contacts_email {
    margin-bottom: 20px;
}

.contacts_phone .contacts_text,
.contacts_email .contacts_text 
{
    color: #212121;
}

.contacts_adress .contacts_text {
    font-weight: 300;
}

.contacts_icon {
    margin-bottom: 28px;
}

.products_main {
    height: 1895px;
    box-sizing: border-box;
}

.products_imgs {
    margin-top: 64px;
    margin-bottom: 41px;
}

.products_secondary {
    height: 683px;
}

.products_secondary .container {
    width: 1366px;
    display: flex;
}

.products_menu {
    margin-top: 71px;
}

.products_menu a {
    text-decoration: none;
}

.products_link_other {
    color: rgb(108, 108, 108);
    padding: 12px 20px
}

.products_menu a:hover {
    color: #212121;
}

.products_menu a:active {
    color: #212121;
    border-bottom: 3px solid #212121;
    padding: 10px 20px
}

.products_link {
    color: rgb(108, 108, 108);
    border-bottom: 1px solid rgb(108, 108, 108);
    padding: 12px 20px
}

.products_link_active {
    color: #212121;
    border-bottom: 3px solid #212121;
    padding: 10px 20px;
}

.refresh_button {
    display: flex;
    flex-direction: column;
    align-items: center;
}
